body{
    background-color: rgb(19, 157, 238);
}

nav{
    align-items: center;
    text-align: center;
}

h1{
    color:rgb(153, 0, 255);
    align-items: center;
    text-align: center;
}

p{
    color:rgb(153, 0, 255);
    align-items: center;
    text-align: center;
}

.padraoimg{
    display: flex;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 500px;

}

